.header {
  height: calc(100vh - 56px);
  background-color: transparent;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.header h1 {
  font-size: 8vw;
  font-family: "Bebas Neue", sans-serif;
}
.header h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.redirects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #8c2c2c;
  color: white;
  font-weight: 900;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  transition: all 250ms;
  text-decoration: none;
}
.header a:hover {
  background-color: #8c2c2c;
  width: 350px;
}
.header .getwaves-separator {
  width: 100%;
  position: absolute;
  bottom: -5px;
  overflow: hidden;
  z-index: 3;
}

@media (max-width: 920px) {
  .header h1 {
    font-size: 18vw;
  }
  .header h4 {
    font-size: 4vw;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .header a {
    width: 30vw;
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .redirects{
    width: 90%;
    gap: 10px;
  }

  .redirects a{
    width: 50%;
    font-size: 5.3vw;
  }
}
